@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0F172A;
}
::-webkit-scrollbar-thumb {
  background: #22D3EE; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1eb3cc; 
}

